@model IEnumerable<Bookish.ViewModels.BookViewModel>
@{
    ViewData["Title"] = "ViewBook";
}   
<h1> View Book Catalogue</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id )
            </th>
              <th>
                @Html.DisplayNameFor(model => model.Title )
            </th>
             <th>
                @Html.DisplayNameFor(model => model.AuthorName )
            </th>
            <th>
                Check Out
            </th>
            <th>
                Enter your name
            </th>
        </tr>
    </thead>
    <tbody>
       @foreach(var item in Model){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
             <td>
                 <button asp-controller="Book"  onclick=checkOut() asp-action="CheckOutBook" type="submit" class="btn btn-primary" style="width:150px">Check Out</button> 
            </td>
             <td>
                 <input id="UserName" size="10"/>
            </td>
        </tr>
       } 
    </tbody>
</table> 
<p>
    <a asp-action="AddBook">Add a new Book</a>
</p> 